<div class="row mb-4" id="DrawedPlayer">
    <div class="col-12">
        <div class="card player-card">
            <div class="card-body text-center">
                <h2 class="card-title">
                    <i class="fas fa-star text-warning"></i>
                    <span id="Player_DisplayNome"></span>
                   
                </h2>
                <div class="row">
                    <div class="col-md-3">
                        <h6>Squadra</h6>
                        <span class="badge bg-primary fs-6" id="Player_Squadra"></span>
                    </div>
                    <div class="col-md-2">
                        <h6>Ruolo</h6>
                        <span class="badge role-badge bg-info fs-6" id="Player_RuoloMantra"></span>
                    </div>
                    <div class="col-md-2">
                        <h6>Quotazione</h6>
                        <div class="quota-display" id="Player_Quotazione"></div>
                    </div>
                    <div class="col-md-2">
                        <h6>Età</h6>
                        <span class="fs-5" id="Player_Under"></span>
                    </div>
                    <div class="col-md-3">
                        <h6>Rank ruolo</h6>
                        <span class="fs-5" id="Player_RankRuolo"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>