<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h4><i class="fas fa-user text-primary"></i> Partecipanti attivi</h4>
                <div id="ParticipantsList">
                    -
                </div>
            </div>
        </div>
    </div>
</div>