<div class="row mb-4" id="ParticipantRegistration">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Registrazione partecipante</div>
            <div class="card-body">
                <div id="registration">
                    <input type="text" id="username" placeholder="Inserisci il tuo nome" />
                    <input type="text" id="teamname" placeholder="Inserisci il nome della squadra" />
                    <input type="text" id="managername" placeholder="Inserisci il nome dell'allenatore" />
                    <button id="registerBtn">Registrati</button>
                </div>

            </div>
        </div>
    </div>
</div>