@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Questo sito non utilizza Cookies, non storicizza niente che non siano le informazioni dell'asta in corso.</p>
